

.thumbnail {
  height: auto;
}

.fStrip {
  background-color:#000033;
  padding: 2em;
}

.bio {
  margin-left: 2em;
}

h4 {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 2em;
}

.aboutWendy {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.25em;
}

.tools{
  list-style: none;
  font-size: 1.25em;
  li {
    color: #cc0033;
  }
}

.footer {
  font-size: .75em;
}
